.header-style {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  z-index: 1000;
}
.logo-style {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.image-logo-style {
  height: 100px;
}

.dropdown-style {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
