.loader-style {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-icon-style {
  font-size: 2rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
