.carousel-container-style {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.image-carousel-style {
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.button-style-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  background: violet;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 2;
}

.button-style-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  background: violet;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 2;
}
